<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				th:replace="~{normal/Base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>User Dashboard</title>
</head>
<body>
	<section>
	
	<div class="card mx-auto " style="width: 74rem;">
		<div class="card-body" >
		
			<h1 class="text-center" ><span class="name"># Your Contacts #</span></h1>
			
			<!-- messsage box -->
		
					<div th:if="${session.message}" class="text-center">
						
						<div th:classappend="${'alert-'+session.message.type}" class="alert" role="alert">
							
							<span th:text="${session.message.content}"></span>						  	

						</div>
						<!-- remove the message -->
						<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
						
					</div>
			
			<table class="table">
			  <thead class="thead-light">
			    <tr >
			      <th class="thead-grey"  scope="col">#No.</th>
			      <th class="thead-grey" scope="col">Name</th>
			      <th class="thead-grey" scope="col">Number</th>
			      <th class="thead-grey" scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody >
			  
			    <tr th:each="c, iterStat: ${contacts}">
			      <th scope="row" th:text="${iterStat.index + 1}">1</th>
			      
			      <td >
			      <img class="mypic" alt="profile photo" src="" th:src="@{'/image/'+${c.image}}">
			      <a href="#" th:href="@{'/user/contact/'+${c.id}}">
			      
			      <span class="name" th:text="${c.name}"></span>
			      </a>
			      </td>
			      
			      <td th:text="${c.phone}">Otto</td>
			      <td><!-- anchor tag use get request directly-->
			      <a href="#" th:onclick="|deleteContact(${c.id})|" class="btn btn-danger btn-sm">delete</a>
			      
			      <form method="post" th:action="@{'/user/update/'+${c.id}}" class="mt-1">
			      
			      <button type="submit" class="btn btn-primary btn-sm">Edit</button>
			      
			      </form>
			      
			      </td>
			    </tr>
			    
			  </tbody>
			  
			</table>
				
				<!-- Pagination Part -->
				
				<nav aria-label="Page navigation example">
				  <ul class="pagination">
				  
				    <li th:if="${currentPage != 0}" class="page-item">
				      <a th:href="@{'/user/show_contacts/'+${currentPage-1}}" 
				      	class="page-link" href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span></a></li>
				      
				    <li th:classappend="${currentPage==i-1?'active':' '}" 
				    th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
				    <a th:href="@{'/user/show_contacts/'+${i-1}}" 
				    class="page-link" href="#"><Span th:text="${i}"> </Span></a></li>
				    
				    <li th:if="${currentPage+1 != totalPages}" class="page-item">
				      <a th:href="@{'/user/show_contacts/'+${currentPage+1}}"  
				      class="page-link" href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span></a></li>
				  </ul>
				</nav>
				<!--Pagination End  -->
			
		</div>
		
		</div>
	
	</section>
	 
</body>
</html>